/* styles/components/forms.css */
input,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--foreground);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--accent);
  outline: none;
}
