/* global.css */

@import "tailwindcss";


@import './pages/login.css';

@import './layout.css';
@import './variables.css';
@import './typography.css';
@import './themes.css';
@import './animations.css';

@import './components/form.css';
@import './components/links.css';

@import './responsive/responsive-layout.css';
@import './responsive/responsive-typography.css';
@import './responsive/responsive-components.css';

@import './components/card/card.css';
@import './components/card/card.theme.css';
@import './components/card/card.responsive.css';
@import './components/modal/modal.css';
@import './components/modal/modal.theme.css';
@import './components/modal/modal.animation.css';
@import './components/modal/modal.responsive.css';

@import './components/buttons/buttons.css';
@import './components/buttons/buttons.theme.css';
@import './components/buttons/buttons.responsive.css';

@import './base/accessibility.fontscale.css';
/* @import './base/accessibility.focus.css'; */
/* @import './base/accessibility.motion.css'; */
@import './base/accessibility.skiplink.css';

@import './components/nav/header.css';
@import './components/nav/footer.css';
@import './components/nav/navbar.css';
@import './components/nav/navbar.theme.css';
@import './components/nav/navbar.responsive.css';



/* 頁面基本樣式 */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
  line-height: 1.8;
  font-size: 16px;
  transition: var(--transition);
}

.main-content {
  min-height: 100%;
  width: 100%;
  max-width: 960px;
  padding: clamp(1rem, 5vw, 2rem);
  margin: 0 auto;
}